/* Stili personalizzati */

body {
    padding-top: 56px;
}

/* Stile per le immagini allettanti di cibo */
#food-images img {
    height: 300px; /* Imposta l'altezza desiderata */
    object-fit: cover; /* Copri completamente il contenitore mantenendo l'aspetto originale */
}

header.jumbotron {
    background: url('path-to-your-background-image.jpg') center center;
    background-size: cover;
    color: #fff;
    padding: 150px 0;
}

/* Barra di navigazione */
.navbar {
    background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

/* Sezione Chi Siamo */
section#about {
    text-align: center;
}

/* Piede di pagina */
footer {
    color: #fff;
}

/* Effetto hover su link */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107;
}

/* Stile della sezione Menu */
section#menu {
    padding: 80px 0;
}

/* Stile del footer su tutte le pagine */
/* Aggiungi questo stile nel tuo foglio di stile CSS */

/* Stile per il footer */
footer {
    background-color: #343a40; /* Colore di sfondo */
    color: #ffffff; /* Colore del testo */
    padding: 30px 0; /* Padding superiore e inferiore */
}

/* Stile per la sezione "Contattaci" */
#contact {
    max-width: 600px; /* Larghezza massima della sezione */
    margin: 0 auto; /* Centrare la sezione */
}

/* Stile per gli elementi di testo nella sezione "Contattaci" */
#contact h2 {
    color: #f8f9fa; /* Colore del titolo */
}

#contact p {
    font-size: 16px; /* Dimensione del testo */
    line-height: 1.6; /* Altezza della linea */
    margin-bottom: 20px; /* Margine inferiore */
}


